<!DOCTYPE html>
<head>
  <title>Hello Express!</title>
</head>
<body>
  <h1>Hello Express!</h1>
  <p>Github account: bpalij@gmail.com</p>
  <p>Current date on server: {{date}}</p>
  <p>On path <a href="/json">/json</a> you can get such json:</p>
  <ul>
    <li>hello: "Hello Express!"</li>
    <li>github: my nickname</li>
    <li>date: current date on server</li>
    <li>echo: whatever query params you use</li>
  </ul>
</body>